<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-select-menu</title>
  </head>
  <body>
    <div class="select-menu">
      <div class="menu-item active">
        <p class="dropdown-option-text">menu item</p>
      </div>
      <div class="menu-item">
        <p class="dropdown-option-text">menu item</p>
      </div>
      <div class="menu-item">
        <div class="checkbox">
          <div class="checkbox-border">
            <img
              alt=""
              class="vector"
              src="https://static.overlay-tech.com/assets/217879a4-a362-4ec2-adde-bb3753e403dd.svg"
            />
            <div class="checkbox-bg"></div>
          </div>
          <img
            alt=""
            class="checkbox-check"
            src="https://static.overlay-tech.com/assets/8e727891-50f1-468c-97e2-fcef58aca185.svg"
          />
        </div>
        <p class="dropdown-option-text">menu item</p>
      </div>
      <div class="menu-item with-icon">
        <p class="dropdown-option-text">menu item</p>
        <div class="dropdown-icon">
          <img
            alt=""
            class="vector"
            src="https://static.overlay-tech.com/assets/48e7cbb2-84d2-4d5a-a6ca-dbde8d26a943.svg"
          />
        </div>
      </div>
      <div class="menu-item disabled">
        <p class="dropdown-option-text disabled">menu item</p>
      </div>
      <div class="menu-item with-icon disabled">
        <p class="dropdown-option-text disabled">menu item</p>
        <div class="dropdown-icon">
          <img
            alt=""
            class="vector"
            src="https://static.overlay-tech.com/assets/43c3733a-5112-4ec2-ace3-b6b75bfcfd6a.svg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
