<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-menu-item-cascade</title>
  </head>
  <body>
    <div class="menu-item-cascade">
      <div class="dropdown-cascading-content">
        <p class="dropdown-option-text">menu-item</p>
        <img
          alt=""
          class="icon-tri-right"
          src="https://static.overlay-tech.com/assets/b66282aa-c1de-48ee-98a7-f5cf425218ca.svg"
        />
      </div>
    </div>
  </body>
</html>
