.select-open {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* select box */
.select-box {
  width: 150px;
  margin-bottom: 5px;
  background-color: var(--darkmode-text-title-primary);
  border-radius: 2px;
  padding: 4px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--text-disabled-divider);
}
.dropdown-select-box-text {
  color: var(--text-title);
  font-family: var(--body-p1-regular-family);
  font-size: var(--body-p1-regular-size);
  font-weight: var(--body-p1-regular-weight);
  line-height: var(--body-p1-regular-line-height);
}
.icon-dropdown {
  overflow: hidden;
  width: 8.24px;
  height: 4.7px;
  position: relative;
}
.vector {
  width: 100.24%;
  height: 98.94%;
  position: absolute;
  left: -0.02px;
  top: 0;
}
/* select-menu */
.select-menu {
  width: 150px;
  background-color: var(--darkmode-text-title-primary);
  overflow: hidden;
  border-radius: 2px;
  padding: 4px 0;
  box-shadow: 2px 0 11px 0 rgba(0, 0, 0, 0.05), 0 4px 3px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--text-disabled-divider);
}

/* menu item */

.menu-item {
  width: 100%;
  background-color: var(--darkmode-text-title-primary);
  padding: 5px 16px;
  display: flex;
  align-items: center;
}
.dropdown-option-text {
  color: var(--text-title);
  font-family: var(--body-p1-regular-family);
  font-size: var(--body-p1-regular-size);
  font-weight: var(--body-p1-regular-weight);
  line-height: var(--body-p1-regular-line-height);
}

.menu-item.active {
  background-color: var(--background-tag);
  padding: 5px 16px;
  display: flex;
  align-items: center;
}
.dropdown-option-text.active {
  color: var(--text-title);
  font-family: var(--body-p1-regular-family);
  font-size: var(--body-p1-regular-size);
  font-weight: var(--body-p1-regular-weight);
  line-height: var(--body-p1-regular-line-height);
}

.menu-item.disabled {
  background-color: var(--darkmode-text-title-primary);
  padding: 5px 16px;
  display: flex;
  align-items: center;
}
.dropdown-option-text.disabled {
  color: var(--text-disabled-divider);
  font-family: var(--body-p1-regular-family);
  font-size: var(--body-p1-regular-size);
  font-weight: var(--body-p1-regular-weight);
  line-height: var(--body-p1-regular-line-height);
}
