<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-select-open</title>
  </head>
  <body>
    <div class="select-open">
      <div class="select-box">
        <p class="dropdown-select-box-text">Select</p>
        <div class="icon-dropdown">
          <img
            alt=""
            class="vector"
            src="https://static.overlay-tech.com/assets/a36d90b2-073d-445f-9f1b-8d9333521cde.svg"
          />
        </div>
      </div>
      <div class="select-menu">
        <div class="menu-item active">
          <p class="dropdown-option-text">menu item</p>
        </div>
        <div class="menu-item">
          <p class="dropdown-option-text">menu item</p>
        </div>
        <div class="menu-item disabled">
          <p class="dropdown-option-text disabled">menu item</p>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
