<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-slider-input</title>
  </head>
  <body>
    <div class="slider-input">
      <div class="flex-wrapper-one">
        <div class="tooltip">
          <div class="tooltip-content">
            <p class="bottom-tooltip">5</p>
          </div>
          <img
            alt=""
            class="polygon-3"
            src="https://static.overlay-tech.com/assets/f581e6d7-78e7-4a47-aa4c-12e9e6c8759e.svg"
          />
        </div>
        <img
          alt=""
          class="slider"
          src="https://static.overlay-tech.com/assets/5dd0b956-ac22-4afa-afe3-6548ef080952.svg"
        />
      </div>
      <div class="input-number">
        <div class="inputnumber-content">
          <p class="inputnumber-text">5</p>
        </div>
      </div>
    </div>
  </body>
</html>
