<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-calendar</title>
  </head>
  <body>
    <div class="calendar">
      <div class="calendar-header">
        <div class="calendar-select">
          <p class="calendar-header-text">2023년 1월</p>
          <img alt="" class="vector" src="../../assets/arrow-icon-down.svg" />
        </div>
        <div>
          <div class="radio-group">
            <div class="radio-group-default">
              <p class="radio-btn-text">Year</p>
            </div>
            <div class="radio-group-active">
              <p class="radio-btn-text-active">Month</p>
            </div>
          </div>
        </div>
      </div>
      <div class="day-of-week">
        <div class="week-text-inner">
          <p class="week-text-black">S</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">M</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">T</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">W</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">T</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">F</p>
        </div>
        <div class="week-text-inner">
          <p class="week-text-black">S</p>
        </div>
      </div>
      <div class="calendar-date-container">
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-dis">26</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">27</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">28</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">29</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">30</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">31</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">01</p>
            </div>
          </div>
        </div>
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider active"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-black-two">02</p>
            </div>
            <div class="week-text-inner-row-active">
              <p class="week-text-color">03</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">04</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">05</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">06</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">07</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">08</p>
            </div>
          </div>
        </div>
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-black-two">09</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">10</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">11</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">12</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">13</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">14</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">15</p>
            </div>
          </div>
        </div>
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-black-two">16</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">17</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">18</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">19</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">20</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">21</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">22</p>
            </div>
          </div>
        </div>
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-black-two">23</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">24</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">25</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">26</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">27</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">28</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">29</p>
            </div>
          </div>
        </div>
        <div class="calendar-date-row">
          <div class="calendar-divider-container">
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
            <div class="calendar-divider"></div>
          </div>
          <div class="day-of-week-row">
            <div class="week-text-inner-row">
              <p class="week-text-black-two">30</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-black-two">31</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">01</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">02</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">03</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">04</p>
            </div>
            <div class="week-text-inner-row">
              <p class="week-text-dis">05</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
