<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-pop-confirm</title>
  </head>
  <body>
    <div class="container">
      <div class="popconfirm">
        <div class="tooltip-content">
          <div class="tooltip-texts">
            <img alt="" class="icon" src="../../assets/warning-icon.svg" />
            <span class="popconfirm-text">Delete this task?</span>
          </div>
          <div class="btn-group">
            <div class="button">
              <!-- Include here the component "Button" -->
            </div>
            <div class="button">
              <!-- Include here the component "Button" -->
            </div>
          </div>
        </div>
        <img alt="" class="polygon-4" src="../../assets/arrow-icon-white.svg" />
      </div>
    </div>
  </body>
</html>
