<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-slider</title>
  </head>
  <body>
    <div class="container">
      <input type="range" min="1" max="100" value="50" class="slider" />
    </div>
  </body>
  <script>
    document
      .querySelector('.slider')
      .addEventListener('input', function (event) {
        var gradient_value = 100 / event.target.attributes.max.value;
        event.target.style.background =
          'linear-gradient(to right, var(--theme-default) 0%, var(--theme-default) ' +
          gradient_value * event.target.value +
          '%, rgb(236, 236, 236) ' +
          gradient_value * event.target.value +
          '%, rgb(236, 236, 236) 100%)';
      });
  </script>
</html>
