<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-radio-group</title>
  </head>
  <body>
    <div class="radio-group">
      <label class="radio-group-default">
        <span class="radio-btn">
          <input type="radio" class="radio-btn-input" value="a" />
        </span>
        <span class="radio-btn-text">Default</span>
      </label>
      <label class="radio-group-active">
        <span>
          <input type="radio" class="radio-btn-input" checked value="b" />
        </span>
        <span class="radio-btn-text">Active</span>
      </label>
      <label class="radio-group-default">
        <span>
          <input type="radio" class="radio-btn-input" value="c" />
        </span>
        <span class="radio-btn-text">Default</span>
      </label>
    </div>
  </body>
</html>
</html>