<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-step-dot</title>
  </head>
  <body>
    <div class="steps-dot">
      <div class="dot-step-status">
        <div class="dot-color"></div>
        <div class="steps-divider-active"></div>
        <div class="dot-color"></div>
        <div class="steps-divider"></div>
        <div class="dot-default"></div>
      </div>
      <div class="dot-step-text-inner">
        <div class="steps-dot">
          <span class="step-status-default">Finished</span>
          <span class="step-desc-default">
            This is a description.
          </span>
        </div>
        <div class="steps-dot">
          <span class="step-status-black">In Progress</span>
          <span class="step-desc-black">This is a description.</span>
        </div>
        <div class="steps-dot">
          <span class="step-status-default">Waiting</span>
          <span class="step-desc-default">
            This is a description.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>