<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-time-cascader-basic-box</title>
  </head>
  <body>
    <div class="time-cascader-basic-box-two">
      <div class="time-cascader-basic-box">
        <div class="cascader-basic-section">
          <div class="menu-item">
            <p class="dropdown-option-text">01</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">02</p>
          </div>
          <div class="menu-item active">
            <p class="dropdown-option-text active">03</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">04</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">05</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">06</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">07</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">08</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">09</p>
          </div>
        </div>
        <div class="cascader-basic-section">
          <div class="menu-item">
            <p class="dropdown-option-text">34</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">35</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">36</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">37</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">38</p>
          </div>
          <div class="menu-item active">
            <p class="dropdown-option-text active">39</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">40</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">41</p>
          </div>
          <div class="menu-item">
            <p class="dropdown-option-text">42</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
