<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-time-picker-select</title>
  </head>
  <body>
    <div class="container">
      <div class="time-picker-select">
        <div class="time-picker-content">
          <span class="time-picker-text-default">hh</span>
          <span class="time-picker-text-default">:</span>
          <span class="time-picker-text-default">mm</span>
        </div>
        <img
          alt=""
          class="clock-icon-default"
          src="../../assets/clock-icon.svg"
        />
      </div>
    </div>
  </body>
</html>
