<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-cascader-basic-box</title>
  </head>
  <body>
    <div class="cascader-basic-box">
      <div class="cascader-basic-section">
        <div class="menu-item-cascade active">
          <div class="dropdown-cascading-content active">
            <p class="dropdown-option-text active">menu-item</p>
            <img
              alt=""
              class="icon-tri-right active"
              src="https://static.overlay-tech.com/assets/ead97181-f78b-47a1-a4eb-6ae176fa8582.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
      </div>
      <div class="cascader-basic-border"></div>
      <div class="cascader-basic-section">
        <div class="menu-item-cascade active">
          <div class="dropdown-cascading-content active">
            <p class="dropdown-option-text active">menu-item</p>
            <img
              alt=""
              class="icon-tri-right active"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
        <div class="menu-item-cascade">
          <div class="dropdown-cascading-content">
            <p class="dropdown-option-text">menu-item</p>
            <img
              alt=""
              class="icon-tri-right"
              src="https://static.overlay-tech.com/assets/82bbff5c-1daa-4ec2-983f-530ba93c196b.svg"
            />
          </div>
        </div>
      </div>
      <div class="cascader-basic-border"></div>
      <div class="cascader-basic-section">
        <div class="menu-item">
          <p class="dropdown-option-text">menu item</p>
        </div>
        <div class="menu-item">
          <p class="dropdown-option-text">menu item</p>
        </div>
        <div class="menu-item active">
          <p class="dropdown-option-text active">menu item</p>
        </div>
        <div class="menu-item">
          <p class="dropdown-option-text">menu item</p>
        </div>
        <div class="menu-item">
          <p class="dropdown-option-text">menu item</p>
        </div>
      </div>
    </div>
  </body>
</html>
