<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../../globals.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <title>grida-drawer</title>
  </head>
  <body>
    <div class="container">
      <div class="drawer">
        <div class="drawer-title">
          <span class="drawer-title-text">Basic Drawer</span>
        </div>
        <div class="drawer-divider"></div>
        <div class="drawer-content">
          <span class="p-16-regular">
            걱정도 헤일 차 별이 거외다. 오는 하나에 둘 풀이 이름과, 동경과 언덕
            않은 봅니다. 불러 이네들은 별이 가을로 못 말 별에도 어머니, 이웃
            버리었습니다. 때 무성할 불러 하나에 아직 듯합니다.
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
