.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 298px;
}
.textfield {
  width: 100%;
  background-color: var(--darkmode-text-title-primary);
  overflow: hidden;
  border-radius: 2px;
  padding: 3px 11px;
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--text-disabled-divider);

  flex: 1;
  font-family: var(--body-p2-regular-family);
  font-size: var(--body-p2-regular-size);
  font-weight: var(--body-p2-regular-weight);
  line-height: var(--body-p2-regular-line-height);
}